body {
    margin:10px;
    padding: 0;
    padding-top:80px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom:auto;
    z-index: 1000;
    background-color: white;
    color: black;

}

.application-container {
    display: flex;
    column-gap:10px;
}

.left {
    width: 60vw;
    background-color: white;
    color:black;
    padding-left:10px;
    box-shadow: 0px 0px 5px  rgb(219, 217, 217);
    border-radius: 5px;
    font-size:18px;
    
    
}

.right {
    width: 40vw;
    padding: 10px;
    background-color:white;
    color: black;
    box-shadow: 0px 0px 5px  rgb(219, 217, 217);
    border-radius:5px;
}

form div {
    margin: 20px;
}

input,
label,
textarea {
    width:100%;
    cursor: pointer;

}
label {
    font-size: 15px;
    font-weight:500;
}
.gender-option label, .skills-option label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.gender-option, .skills-option{
    width:10%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    row-gap: 10px;
}

.submit-button {
    padding: 10px 22px;
    border-radius:5px;
    border-style: none;
    background-color:rgb(212, 139, 3);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.submit-button:hover {
  opacity: 0.5;
}

.greeting-paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.why-join{
    width: 100vw;
    margin-top: 10px;
    padding:10px;
    background-color: #f2f2f2;
    border-left: 5px solid #333;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    .application-container {
        flex-direction: column;
        row-gap: 5px;
    }

    form{
        flex-direction: column;
    }

    .left,
    .right {
        width: 100vw;
    }
    .left p, .left ol {
        margin-bottom: 15px;
    }
    

    .element {
        font-weight: 500;
        gap:5px;
    }
    
}