
header {
    display: flex;
    justify-content: center;
}

.application-container {
    display: flex;
}

.left {
    width: 60vw;
    background-color: black;
    color: wheat;
}

.right {
    width: 40vw;
    background-color: wheat;
    color: black;
}

form div {
    margin: 20px;
}
input, label, textarea{
    width: 100%;
    padding: 8px;
    
}

.
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .application-container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100vw;
    }

    .element {
        display: flex;
        font-weight: bold;
        gap: 10px;
    }
}

